@media only screen and (max-width: 620px) {
  #ListedCategory {
    display: block;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
}

#BDelete {
    margin-left: 5px;
    background-color: darkred;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 120px;
}

#BDelete:hover {
  background-color: red;
}

#BEdit {
    background-color: darkgreen;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 120px;
}

#BEdit:hover {
  background-color: green;
}

#updateButton {
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    margin-bottom: 15px;
    height: 50px;
    width: 120px;
  }
  #updateButton:hover {
    background-color: blue;
  }
  
  #cancelButton {
    border-radius: 5px;
    margin-left: 10px;
    background-color: black;
    color: #fff;
    margin-bottom: 15px;
    height: 50px;
    width: 120px;
  }
  #cancelButton:hover {
    background-color: grey;
  }

