<div class="container content">
    <div class="row">
        <div class="categoriesNav">
            <app-categories></app-categories>
        </div>
        <div id="middle">
            <div id="content" *ngFor="let item of memeList; let i = index">

                <div class="wrapper-content">
                    <div class="wrapped-content-div">

                <div class="ImgHeader">
                    <a id="ref-user" href="profile/{{item.userName}}">{{item.userName}}</a>
                    <p style="display: inline; padding-left: 5px; color: whitesmoke; font-size: 10px;"> - {{item.creationDate}}</p>
                    <div *ngIf="userService.IsLoggedIn()" style="float: right;">
                        <img type="submit" src="assets/icons/f02.png" (click)="addFavourite(item.memeId)">
                    </div>
                </div>
                <a href="details/{{item.memeId}}" style="text-decoration: none;">
                    <h2 id="title" >{{item.title}}</h2>
                    <div >
                        <img class="responsive" *ngIf="item.byteHead != null" src="{{item.byteHead}},{{item.byteImg}}">
                    </div>
                </a>

                <div class="ImgFooter">
                    <p >Rate: {{item.rate}} - Comments: {{item.commentCount}} - Category: 
                        <a id="ref" href="category/{{item.category.categoryName}}/1">{{item.category.categoryName}}</a> </p>
                </div>
                
                <app-vote class="buttons" [memeDetails]="memeList[i]"></app-vote>

            </div>
        </div>
    </div>
    
                <app-paginator [pageNumber]="PageNumber" [pageCount]="pagecount"></app-paginator>

        </div>
        <div class="rightSide">
            <app-current-user-stats></app-current-user-stats>
        </div>
    </div>
</div>