<div class="container content">
    <div class="row">
        <div class="col-md-2">
            <app-categories></app-categories>
        </div>
        <div class="col-md-7">
            <div id="content" *ngFor="let item of memeList; let i = index">
                <div id="test" style="display: inline;">
                    <a *ngIf="item.userName != 'admin'" id="ref" href="checkuser/{{item.userName}}">{{item.userName}}</a>
                    <p *ngIf="item.userName == 'admin'" style="display: inline-block;">{{item.userName}}</p>
                    <p style="display: inline-block; padding-left: 5px;"> - {{item.creationDate}}</p>
                    <div *ngIf="userService.IsLoggedIn()" style="float: right;">
                        <img type="submit" src="assets/icons/f02.png" (click)="addFavourite(item.memeId)">
                    </div>
                </div>
                <a href="details/{{item.memeId}}" style="text-decoration: none;">
                    <h2 id="title" >{{item.title}}</h2>
                    <div >
                        <img class="responsive" *ngIf="item.byteHead != null" src="{{item.byteHead}},{{item.byteImg}}">
                    </div>
                </a>
                <div>
                    <p>Rate: {{item.rate}} - Comments: {{item.commentCount}} - Category: 
                        <a id="ref" href="category/{{item.category.categoryName}}/1">{{item.category.categoryName}}</a> </p>
                </div>
                <div id="vote" *ngIf="userService.IsLoggedIn()">
                    <button id="plus" class="btn btn-lg" (click)="onPlus(item.memeId, i)">PLUS</button>
                    <button id="minus" type="submit" class="btn btn-lg" (click)="onMinus(item.memeId, i)">MINUS</button>
                </div>
            </div>
            
            <div class="paginator">
                <button class="btn btn-lg pageChange material-icons" (click)="pageChange('first')" [disabled]="PageNumber == '1'">first_page</button>
                <button class="btn btn-lg pageChange material-icons" (click)="pageChange('prev')" [disabled]="PageNumber == '1'">navigate_before</button>
                {{PageNumber}}/{{pagecount}}
                <button class="btn btn-lg pageChange material-icons" (click)="pageChange('next')" [disabled]="PageNumber == pagecount">navigate_next</button>
                <button class="btn btn-lg pageChange material-icons" (click)="pageChange('last')" [disabled]="PageNumber == pagecount">last_page</button>
            </div>

        </div>
        <div class="col-md-3 d-none d-lg-block d-xl-block" style="background-color: grey;">
            3/3
        </div>
    </div>
</div>