<div class="container content">
    <div class="row">
        
        <div class="col-md-7">
            <div class="wrapped-stats-div">
                <div class="userstats">
                    <h1 id="username">{{stats?.userName}}</h1>
                    <p class="material-icons">collections</p>
                    <p class="values">main page/total: {{stats?.totalAccepted}}/{{stats?.totalMemes}}</p><br>
                    <p class="material-icons">comment</p>
                    <p class="values">comments: {{stats?.totalComments}}</p><br>
                    <p class="material-icons">date_range</p>
                    <p class="values">{{stats?.joined}}</p>
                </div>
            </div>

            <div class="wrapperCheckUser">
                <div class="wrapped-checkuser-div">
                  <div class="tab-header">
                    <h2 routerLink='/profile/{{userName}}/memes' routerLinkActive='active'>Memes</h2>
                    <h2 routerLink='/profile/{{userName}}/comments' routerLinkActive='active'>Comments</h2>
                    <h2 *ngIf="currentUserName == userName" routerLink='/profile/{{userName}}/favourites' routerLinkActive='active'>Favourites</h2>
                  </div>
                  <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <router-outlet></router-outlet>
                    </div>
                  </div>
                </div>
              </div>

            
        </div>
        <div id="right" class="col-md-5">
            <app-current-user-stats></app-current-user-stats>
        </div>
    </div>
</div>