@media only screen and (min-width: 992px) {
  #categories {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    width: 100%;
    max-width: 800px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }
}

@media only screen and (max-width: 992px) {
  #categories {
    padding: 0;
    margin-bottom: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }
}



#categoriesHead {
  text-align: center;
  justify-content: center;
  color: #545d6a;
  font-weight: 700;
  font-size: 25px;
}

#navtxt {
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: solid;
  }
  
  #navtxt:hover {
    color: white;
    text-decoration: underline;
  }