<div class="container content">
    <div class="row">
        <div class="categoriesNav">
            <app-categories></app-categories>
        </div>
        <div id="middle">

            <p id="contentHead">DETAILS</p>

            <div class="wrapper-content">
                <div class="wrapped-content-div">

                    <div class="ImgHeader">
                        <a id="ref-user" href="profile/{{memeDetails?.userName}}">{{memeDetails?.userName}}</a>
                        <p style="display: inline; padding-left: 5px; color: whitesmoke; font-size: 10px;"> - {{memeDetails?.creationDate}}</p>
                        <div *ngIf="userService.IsLoggedIn()" style="float: right;">
                            <app-add-favourite [memeDetails]="memeDetails"></app-add-favourite>
                        </div>
                    </div>
                    <h5 id="titleDetails" >{{memeDetails?.title}}</h5>
                    
                    <p id="txtDetails" *ngIf="memeDetails?.txt">{{memeDetails?.txt}}</p>

                    <div >
                        <img class="responsive" *ngIf="memeDetails?.byteHead != null" src="{{memeDetails?.byteHead}},{{memeDetails?.byteImg}}">
                    </div>
                    

                    <div class="ImgFooter">
                        <p style="display: inline;">Rate: {{memeDetails?.rate}} - Comments: {{memeDetails?.commentCount}} - Category: 
                            <a id="ref" href="category/{{memeDetails?.category.categoryName}}/1">{{memeDetails?.category.categoryName}}</a>
                        </p>
                        <a [ngClass]="isOpen ? 'memeDelete': 'memeDelete2'" 
                    *ngIf="userService.getUserId() == memeDetails?.userId || userService.CheckRoleStaff()=='Administrator'"
                    style="color: red;"
                    mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    (confirm)="OnDeleteMeme()"
                    [(isOpen)]="isOpen">
                        DELETE
                    </a>
                        <a class="memeEdit" href="edit/{{memeDetails?.memeId}}" *ngIf="userService.getUserId() == memeDetails?.userId">EDIT</a>
                    </div>
                    
                    <app-vote class="buttons" [memeDetails]="memeDetails"></app-vote>

                </div>
            </div>

            <div class="comments">
                <div *ngIf="!userService.IsLoggedIn()">
                    <a href="user/login">Sign in to see comments</a>
                </div>
                <div *ngIf="userService.IsLoggedIn()">
                    <form id="addcomment" class="container" [formGroup]="commentService.addComment" autocomplete="off" (submit)="OnSubmit()">
                        <div class="row" >
                            <div class="form-group required col-md-12">
                                <label>Add Comment</label>
                                <textarea id="addcommenttxt" class="form-control" formControlName="txt"></textarea>
                                <label class="text-danger" *ngIf="commentService.addComment.get('txt').touched && commentService.addComment.get('txt').errors?.required">txt required</label>
                            </div>
                        </div> 
                        <button id="addbutton" type="submit" class="btn btn-lg" [disabled]="!commentService.addComment.valid">Add comment</button>  
                    </form>

                    <div>
                        <label class="commentList">NEWEST COMMENTS:</label>
                        <div *ngFor="let item of comments; let i = index">
                            <div class="perComment">
                                <div class="comment-header">
                                    <div id="commInfo">
                                        <a id="ref-username" href="profile/{{item.userName}}">{{item.userName}}</a>
                                        <p id="creationDate"> - {{item.creationDate}}</p>
                                        
                                        <p *ngIf="userService.getUserName() == item.userName || userService.CheckRoleStaff()=='Administrator'"
                                        class="comDel"
                                        style="color: red;"
                                        (click)="BeforeDelete(i)">
                                            DELETE
                                        </p>
                                        
                                        <p *ngIf="userService.getUserName() == item.userName" class="comment-edit" (click)="OnEdit(i)">edit</p><br>
                                        <!--<p class="comment-other" (click)="OnReport()">Report</p>
                                         <p style="float: right; margin-right: 10px;"> - </p>
                                        <p class="comment-other" (click)="OnReply()">Reply</p> -->
                                        <div id="confirmDelete-wrap" *ngIf="isDelete == i">
                                            <div id="confirmDelete">
                                                <p>Are you sure?</p>
                                                <button class="btn btn-light" (click)="CancelDelete()">Cancel</button>
                                                <button class="btn btn-danger" (click)="OnDelete(i, item.commentId)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div id="commentPlace">
                                    <form *ngIf="isEdit == i" id="addcomment" class="container" [formGroup]="commentService.editComment" autocomplete="off" (submit)="SaveEdit(i, item.commentId)">
                                            <div class="form-group required col-md-12">
                                                <textarea id="updatecommenttxt" class="form-control" formControlName="txt">{{item.txt}}</textarea>
                                                <label class="text-danger" *ngIf="commentService.editComment.get('txt').touched && commentService.editComment.get('txt').errors?.required">txt required</label>
                                            </div>
                                            <div style="justify-content: center; text-align: center;">
                                                <button id="updateButton" type="submit" class="btn btn-lg" [disabled]="!commentService.editComment.valid">Save</button>  
                                                <button id="cancelButton" class="btn btn-lg" (click)="CancelEdit()">Cancel</button>
                                            </div>
                                        
                                    </form>
                                    <p *ngIf="isEdit != i" class="comment-text">{{item.txt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            

        </div>
        <div class="rightSide">
            <app-current-user-stats></app-current-user-stats>
        </div>
    </div>
</div>