<div class="container details">
    <div class="row">
        <div class="col-md-2">
            <app-categories></app-categories>
        </div>
        <div class="col-md-7">
            <div id="content">
                <div id="test" style="display: inline;">
                    <a *ngIf="!(memeDetails?.userName == 'admin')" id="ref" href="checkuser/{{memeDetails?.userName}}">{{memeDetails?.userName}}</a>
                    <p *ngIf="memeDetails?.userName == 'admin'" style="display: inline;">{{memeDetails.userName}}</p>
                    <p style="display: inline; padding-left: 5px;"> - {{memeDetails?.creationDate}}</p>
                    <div *ngIf="userService.IsLoggedIn()" style="float: right;">
                        <img type="submit" src="assets/icons/f02.png" (click)="addFavourite(memeDetails.memeId)">
                    </div>
                </div>
                    <h2 style="color: black;" >{{memeDetails?.title}}</h2>
                    <div>
                        <img class="responsive" *ngIf="memeDetails?.byteHead != null" src="{{memeDetails.byteHead}},{{memeDetails.byteImg}}">
                    </div>
                
                <div>
                    <p>Rate: {{memeDetails?.rate}} - Comments: {{memeDetails?.commentCount}} - Category: 
                        <a id="ref" href="category/{{memeDetails?.category.categoryName}}/1">{{memeDetails?.category.categoryName}}</a> </p>
                </div>
                <div id="vote" *ngIf="userService.IsLoggedIn()">
                    <button id="plus" class="btn btn-lg" (click)="onPlus(memeDetails.memeId)">PLUS</button>
                    <button id="minus" type="submit" class="btn btn-lg" (click)="onMinus(memeDetails.memeId)">MINUS</button>
                </div>
            </div>

            <div class="comments">
                <div *ngIf="!userService.IsLoggedIn()">
                    <a href="user/login">Sign in to see comments</a>
                </div>
                <div *ngIf="userService.IsLoggedIn()">
                    <form id="addcomment" class="container" [formGroup]="commentService.addComment" autocomplete="off" (submit)="OnSubmit()">
                        <div class="row" >
                            <div class="form-group required col-md-12">
                                <label>Add Comment</label>
                                <textarea id="addcommenttxt" class="form-control" formControlName="txt"></textarea>
                                <label class="text-danger" *ngIf="commentService.addComment.get('txt').touched && commentService.addComment.get('txt').errors?.required">txt required</label>
                            </div>
                        </div> 
                        <button id="addbutton" type="submit" class="btn btn-lg" [disabled]="!commentService.addComment.valid">Add</button>  
                    </form>

                    <div>
                        <label class="commentList">COMMENTS:</label>
                        <div *ngFor="let item of comments; let i = index">
                            <div class="perComment">
                                <div class="comment-header">
                                    <a style="display: inline;" *ngIf="item.userName != 'admin'" id="ref" href="checkuser/{{item.userName}}">{{item.userName}}</a>
                                    <p style="display: inline;" *ngIf="item.userName == 'admin'">{{item.userName}}</p>
                                    <p style="display: inline;"> - {{item.creationDate}}</p>
                                    <p *ngIf="item.editDate" style="display: inline;"> - Last edit: {{item.editDate}}</p>
                                    <div style="float: right">
                                        
                                        
                                    </div>
                                    
                                </div>
                                <div>
                                    <p class="comment-text">{{item.txt}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3 d-none d-lg-block d-xl-block" style="background-color: grey;">
            3/3
        </div>
    </div>
</div>