<div class="wrapped-stats-div" *ngIf="userService.IsLoggedIn()">
    <div class="userstats">
        <a id="profileRefLink" href="/profile/{{stats?.userName}}"><p id="username">{{stats?.userName}}</p></a>
        <p class="material-icons">collections</p>
        <p class="values">main page/total: {{stats?.totalAccepted}}/{{stats?.totalMemes}}</p><br>
        <p class="material-icons">comment</p>
        <p class="values">comments: {{stats?.totalComments}}</p><br>
        <p class="material-icons">date_range</p>
        <p class="values">{{stats?.joined}}</p>
    </div>
    <div>
        <a href="/profile/{{stats?.userName}}/favourites"><button id="settings" type="submit" class="btn btn-lg">My Favourites({{stats?.favouritesCount}})</button></a>
        <a href="/settings"><button id="settings" type="submit" (click)="GoSettings()" class="btn btn-lg">Account Settings</button></a>
    </div>
</div>