.wrapped-stats-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    width: 100%;
    max-width: 300px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

.userstats {
    margin-left: 10px;
}

#username {
    color: black;
    text-align: center;
    color: #545d6a;
    font-weight: 700;
}
.material-icons {
    padding-top: 10px;
    color: whitesmoke;
}

.values {
    display: inline;
    color: black;
    margin-left: 5px;
}

#settings {
    background-color: black;
    border-radius: 10px;
    width: 100%;
}
#settings:hover {
    background-color: gray;
}

#profileRefLink:hover {
    text-decoration: underline whitesmoke;
}


