

#title {
    color: black;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#title:hover {
    text-decoration: none;
    color: blue;
  }

#ref {
  display: inline-block;
  padding-left: 5px;
  text-decoration: none;
  color: black;
}

#ref:hover {
  text-decoration: underline;
  color: blue;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: black;
  }

#content {
  margin-top: 30px;
  border-bottom: 2px solid grey;
}

#vote {
  margin-bottom: 10px;
}

#plus {
  background-color: #04c582;
  color: #fff;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}

#plus:hover {
  background-color: darkgreen;
}

#plus:active {
  background-color: darkgreen;
}

#plus:disabled {
  background-color: rgb(0, 51, 0);
}

#minus:hover {
  background-color: darkred;
}

#minus:active {
  background-color: darkred;
}

#minus:disabled {
  background-color: rgb(71, 0, 0);
}

#minus {
  background-color: red;
  color: #fff;
  margin-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}
