<div class="wrapper">
    <div class="wrapped-div">
      <div>
        <p class="settingsLabel">SETTINGS</p>
      </div>
      <div class="tab-header">
        <h2 routerLink='/settings/email' routerLinkActive='active'>Change email</h2>
        <h2 routerLink='/settings/password' routerLinkActive='active'>Change password</h2>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>