body{
    /* background-color: whitesmoke; */
    background-color: rgb(80, 77, 77);
    /* background-color: grey; */
}

.CustomPopover {
  border: 1px solid gray;
  -webkit-box-shadow: 20px 20px 20px 20px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
}

#navtxt {
  border-radius: 5px;
  height: 43px;
  max-height: 100%;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: black;
}

#yprofile {
  color: black;
}

#yprofile:hover {
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #2e3137;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.tab-header{
  text-align: center;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}

button[type=submit].btn{
  border-radius: 20px;
  background-color: #04c582;
  color: #fff;
}
button[type=clear].btn{
  border-radius: 20px;
  background-color: #dc3545;
  color: #fff;
}
button[type=set].btn{
  border-radius: 20px;
  background-color: blue;
  color: #fff;
}


#toast-container > div {
  opacity:1;
}


.toast-bottom-right {
  margin-bottom: auto;
  margin-right: 5%;
}

div.form-group label:not(.text-danger){
  color: #545d6a;
  font-weight: 700;
}

div.form-group.required>label:first-child:after{
  content:'*';
  color: #fff;
  padding-left: 5px;
}

form{
  margin: 0px 16px;
}

div.form-group input.invalid{
  border: 1px solid #dc3545; 
}
div.form-group label:first-child{
  text-transform: uppercase;
  font-size: 0.9rem;
}


#contentHead {
  text-align: center;
  justify-content: center;
  color: #545d6a;
  font-weight: 700;
  font-size: 30px;
  width: 100%;
}

#isArchived {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #545d6a;
}

img.responsive {
  width: 95%;
  max-width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ref {
  display: inline-block;
  text-decoration: none;
  color: lightblue;
}

#ref:hover {
  text-decoration: underline;
  color: blue;
}

#checkUserLoadMore {
  margin-bottom: 10px; 
  margin-top: 10px; 
  width: 90%; 
  justify-content: center; 
  margin-left: auto; 
  margin-right: auto;
}

#ref-user {
  display: inline-block;
  padding-left: 2.5%;
  text-decoration: none;
  color: lightblue;
}

#ref-user:hover {
  text-decoration: underline;
  color: blue;
}


.content {
  max-width: 95%;
  margin-bottom: 150px;
  margin-top: 30px;
}





#plus {
  background-color: #04c582;
  color: #fff;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}

#plus:hover {
  background-color: darkgreen;
}

#plus:active {
  background-color: darkgreen;
}

#plus:disabled {
  background-color: rgb(0, 51, 0);
}

#minus:hover {
  background-color: darkred;
}

#minus:active {
  background-color: darkred;
}

#minus:disabled {
  background-color: rgb(71, 0, 0);
}

#minus {
  background-color: red;
  color: #fff;
  margin-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}

#title {
  color: whitesmoke;
  padding-left: 2.5%;
  display: block;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#title:hover {
  text-decoration: none;
  color: blue;
}



.memeDelete:hover {
  color: darkred;
  cursor: pointer;
  text-decoration: underline;
  background-color: black;
}
.memeDelete2:hover {
  color: darkred;
  cursor: pointer;
  text-decoration: underline;
  background-color: black;
}

.memeEdit:hover {
  color: white;
  background-color: black;
}

@media only screen and (min-width: 620px) {
  .memeEdit {
    font-weight: 500;
    float: right;
    margin-right: 10px;
    color: grey;
    text-align: center;
    border-radius: 5px;
    max-width: 90px;
    width: 100%;
  }
  .memeDelete {
    text-align:center;
    justify-content: center;
    font-weight: 500;
    float: right;
    margin-right: 10px;
    color: red;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    max-width: 90px;
    width: 100%;
  }
  .memeDelete2 {
    text-align:center;
    justify-content: center;
    font-weight: 500;
    float: right;
    margin-right: 10px;
    color: red;
    text-align: center;
    border-radius: 5px;
    max-width: 90px;
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .memeEdit {
    text-align:center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    float: right;
    margin-right: 3px;
    color: grey;
    text-align: center;
    border-radius: 5px;
    max-width: 50px;
    width: 100%;
    margin-top: 3px;
  }
  .memeDelete {
    text-align:center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    float: right;
    color: red;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    max-width: 50px;
    width: 100%;
    margin-top: 3px;
  }
  .memeDelete2 {
    font-size: 12px;
    font-weight: 500;
    float: right;
    color: red;
    text-align: center;
    border-radius: 5px;
    max-width: 50px;
    width: 100%;
    margin-top: 3px;
  }
}