<div id="content" *ngFor="let item of usersList; let i = index">
    <div class="wrapper-content">
        <div class="wrapped-content-div">
            <p style="color: whitesmoke;">
                {{item.userName}}
                {{item.email}}
                {{item.creationDate}}
                {{item.memeCount}}
                {{item.commentCount}}
                {{item.userRole}}
            </p>
        </div>
    </div>
</div>

<app-paginator [pageNumber]="PageNumber" [pageCount]="pagecount"></app-paginator>