.wrapped-upload-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 1000px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

.uploadLabel {
    text-align: center;
    justify-content: center;
    color: #545d6a;
    font-weight: 700;
    font-size: 30px;
}

.uplImg {
    max-width: 100%;
    width: 750px;
    border: 4px solid grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#uplButton:hover:enabled {
    background-color: lightgreen;
}